@import url('https://fonts.googleapis.com/css?family=Courgette|Lobster+Two|Poppins|Special+Elite');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Special Elite', sans-serif !important;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  padding: 0 1rem;
}

.btn {
  display: inline-block;
  border: none;
  background: #fff !important;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
  font-family: 'Special Elite', sans-serif !important;
  &:hover {
    background: #ff0000 !important;
    color: #fff !important;
  }
}
